<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Dlibra framework</title>
   	<link rel="stylesheet" href="${homepageUrl}/style/dlibra/$layout/${styleVariant}/style.css" type="text/css" />
   	#foreach( $comp in $headerTags)	 $!{comp.RenderedTemplate} #end
  	
 </head>
 <body>
	<div id="wrapper">
		
		<div id="header">
			#pageId()
			#navLinks()
			#place($header)
		</div>
	
		<div id="left">
			#place($left)
		</div>
	
		<div id="right">
			#place($right)
		</div>
	
		<div id="footer">
			#place($bottom)
		</div>
	</div>
 </body>
</html>