#parse("parts/header.vm")
	## show proper information when javascript is not supported
	<noscript>
		<div id="noScriptWarningBox">
			<a style="float:right" href="${homepageUrl}${mainServletName}/help?id=no-js-help" target="_blank" title="" alt="" >
				${res.getProperty("help")} <img class="noScriptWarnIcon" src="${homepageUrl}/style/common/img/icons/help.png"/>
			</a>
			<img class="noScriptWarnIcon" src="${homepageUrl}/style/common/img/icons/warning_sm.png"/>
			$!{res.getProperty("base.noJavaScriptWarning")}
		</div>
	</noscript>
	<div id="account-menu" style="display:none"> ## CSS style on purpose
		<p id="account-menu-loading">${res.getProperty("nav.loading")}</p>
		<span></span>
	</div>
	<div id="mainBaner" class="mainBaner_${userLanguage}">
		<div id="mainBanerIn" class="contentIn">
			<div id="mainBanerLanguages">
				#foreach( $comp in $preheader)
     			  	$!{comp.RenderedTemplate}
				#end	
			</div>
			<div id="mainBanerUniversityLogo">
				<a id="mainBanerCoin" href="$!{res.getProperty("base.university.webpage")}" title="$!{res.getProperty("base.university.name")}">
					<img src="http://cdn.pg.edu.pl/ekontakt-updated-theme/images/logo-pg-small.png">
				</a>
			</div>
			<div id="mainBanerLibraryTitle">
				<a class="main-library-title" href="${homepageUrl}" title="$!{res.getProperty("base.library.full")}">
					$!{res.getProperty("base.library.full")}
				</a>
			</div>
			<div class="site-faculty-logo">
				<a id="mainBanerCoin" href="$!{res.getProperty("base.university.faculty.webpage")}" title="$!{res.getProperty("base.university.faculty.name")}">
					<img src="${homepageUrl}/style/dlibra/${styleVariant}/mb-logo.png"  alt="" />
				</a>
			</div>
		</div>
	</div>
	<div id="mainMenu">
		<div class="contentIn">
		#authorizationLinks()
		<nav id="listMainMenu">
			#mainMenuLinks()
		</nav>
		</div>
	</div>
	<div class="headerBackground"></div>
	<div class="content">
		<div class="header">
    		<div class="preheader">
    		  #foreach( $comp in $preheader)
     			  	$!{comp.RenderedTemplate}
    		  #end	
    		</div>
			<div class="logo">
				## logo goes here
				<a href="${homepageUrl}" title="$!{res.getProperty("base.library.full")}">
					<img src="${homepageUrl}/style/dlibra/${styleVariant}/logo.gif"  alt="" />
 				</a>
				<h1>
					<a href="${homepageUrl}" title="$!{res.getProperty("base.library.full")}">
					$!{res.getProperty("base.library.full")}
					</a>
				</h1>
			</div>
		</div>
		
		#foreach( $comp in $postheader)
		    $!{comp.RenderedTemplate}
		#end

		<div class="bar">
		     #navLinks()
		</div>
		

		<div class="search_field">
		  #foreach( $comp in $subheader)
		    #if(${comp.ComponentTitle}!="")<h3>$!{comp.ComponentTitle}</h3>#end
		    $!{comp.RenderedTemplate}
		  #end	
		</div>  
		
		
		<script type="text/javascript">
			
			$().ready(function(){
				## declaration in dlibra.js
				PageUtils.pageId = "${pageId}";	
				PageUtils.init();
				PageUtils.bindAccordionMechanism();
				PageUtils.autoExpand();
			});
		
		</script>
		
		<div class="left">
		   #foreach( $comp in $left)
 		    #if ( ${comp.RenderedTemplate}!= "" )
			 #if(${comp.ComponentTitle}!="")
	 			<h3 class="leftDiv" id="ldi_${velocityCount}">$!{comp.ComponentTitle}<img class="sh_button" src="${homepageUrl}/style/common/img/icons/s_desc.gif"> </h3> 
	 		 #end
			 <div class="left_box">
			 	 $!{comp.RenderedTemplate}
			 </div>	 
			#end 
  		   #end
		</div>

		<div class="right">
			
		  <div class="right_full"> 			
  		   #foreach( $comp in $right)
 		    #if ( $!{comp.RenderedTemplate} != "")
			 #if(${comp.ComponentTitle} != "")
	 			<h3>$!{comp.ComponentTitle}</h3> 
				 <div class="right_articles">
			#else
				 <div class="right_articles notitle">
	 		 #end
			 	 $!{comp.RenderedTemplate}
			 </div>	 
			#end 
  		   #end
  		  </div>
  		   
  		  #if ($rightSplitted)
   		     #foreach( $comp in $rightSplitted)
   		     	#if ( $!{comp.RenderedTemplate} != "")
	  		   <div class="right_splitted">
					 #if(${comp.ComponentTitle} != "")
	 					<h3>$!{comp.ComponentTitle}</h3> 
	 				 #end
						 <div class="right_splitted_box">
						 	 $!{comp.RenderedTemplate}
					    </div>	 
	 		   </div>
	 		   #end
  		     #end	
  		   #end  	

		  <div class="right_full"> 			
  		   #foreach( $comp in $rightbottom)
 		    #if ( $!{comp.RenderedTemplate} != "")
			 #if(${comp.ComponentTitle} != "")
	 			<h3>$!{comp.ComponentTitle}</h3> 
	 		 #end
			 <div class="right_articles">
			 	 $!{comp.RenderedTemplate}
			 </div>	 
			#end 
  		   #end
  		  </div>  
  		   

		</div>
		
		#if ( $bottom )
			<div class="footer">
	
	  		   #foreach( $comp in $bottom)
				  $!{comp.RenderedTemplate}
			   #end
	
			</div>
		#end
		
	</div>
#parse("parts/bottom.vm")