<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="${userLanguage}" />		
        <title>${res.getProperty("base.library.full")} #if (${pageTitle} ) - $!{pageTitle} #end </title>
      
        <meta name="Author" content="PSNC, Poznan Supercomputer and Networking Center" />
        <meta name="Design" content="PSNC, Poznan Supercomputer and Networking Center" />
        <meta name="Publisher" content="PSNC, Poznan Supercomputer and Networking Center" />
        <meta name="Copyright" content="Copyright (C) 2003 - 2008 PSNC, Poznan Supercomputer and Networking Center" />
        <meta http-equiv="Reply-to" content="dlibra.at.man.poznan.pl" />

        <meta name="Rating" content="general" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
		#if ( $pageId == "content-top" || $pageId == "content-sidebar" ) 
			<meta name="Robots" content="noindex, nofollow" />
        #else
			<meta name="Robots" content="index, follow" />
        #end 
        <meta http-equiv="Distribution" content="global" />
        <meta name="Revisit-after" content="3 days" />
        <meta http-equiv="Pragma" content="NoCache" />

	#if($pageTitle == ${res.getProperty("base.Homepage")} )
	  <meta name="Description" content="${res.getProperty("main.meta.description")}" />
	#else
	  <meta name="Description" content="${res.getProperty("base.library.full")}, #if((${pageSubtitle})&&(${pageSubtitle})!=${res.getProperty("base.library.full")})$!{pageSubtitle},#end $!{pageTitle}" />
	#end
        <meta name="Classification" content="${res.getProperty("main.meta.clasification")}" />
        <meta name="Keywords" content="${res.getProperty("main.meta.keywords")}" />
        <meta name="Generator" content="${res.getProperty("main.meta.generator")}" />

		<!--[if IE]>
  		  <link rel="stylesheet" href="${homepageUrl}/style/dlibra/${styleVariant}/dompopup.css" type="text/css" />
		<![endif]-->
		
		<link rel="stylesheet" href="${homepageUrl}/style/common/js/nyromodal/jquery-nyromodal-1.5.5-full.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="${homepageUrl}/style/common/js/nyromodal/dlibra-nyromodal-1.5.5.css" type="text/css" media="screen" />
    	<link rel="stylesheet" href="${homepageUrl}/style/common/js/simplesearch/simplesearch.css" type="text/css" />
    	<link rel="stylesheet" href="${homepageUrl}/style/dlibra/${styleVariant}/common.css" type="text/css" />
    	<link rel="stylesheet" href="${homepageUrl}/style/dlibra/${styleVariant}/${layout}.css" type="text/css" />
    	<link rel="stylesheet" href="${homepageUrl}/style/common/js/autocomplete/jquery-autocomplete-1.0.2.css" type="text/css" />
		<link rel="stylesheet" href="${homepageUrl}/style/common/js/tag-cloud/tag-cloud-4.0.css" type="text/css" />	
		<link rel="stylesheet" href="${homepageUrl}/style/common/js/jquery-ui/themes/newtheme/jquery-ui-themeroller.css" type="text/css" />
		<link rel="stylesheet" href="${homepageUrl}/style/common/js/jquery-ui/themes/upload-theme/jquery-ui-1.7.2.custom.css" type="text/css" />
		<link rel="stylesheet" href="${homepageUrl}/style/dlibra/${styleVariant}/jquery-tooltip/jquery-tooltip-1.3.css" type="text/css" />
		<link rel="stylesheet" href="${homepageUrl}/style/dlibra/${styleVariant}/pub-upload/dlibra_publication_upload.css" type="text/css" />
		<link rel="stylesheet" href="${homepageUrl}/style/common/js/jquery-ui/themes/jq-dialog/jquery-ui-1.7.3.custom.css" type="text/css" />
		
		<!--[if IE]>
  		  <link rel="stylesheet" href="${homepageUrl}/style/common/js/tag-cloud/tag-cloud-ie-4.0.css" type="text/css" />
		<![endif]-->
		
        <link rel="shortcut icon" href="${homepageUrl}/style/dlibra/favicon.ico" type="image/ico" />
		
		<script type="text/javascript"><!--
		   var DLAppVars = {};
		   DLAppVars.loginLink = '$!{loginLink}';
		   var homePageUrl = '${homepageUrl}/';	
   		   var homePageServletUrl = '${homepageUrl}${servletName}';
		   var mainServletName = '${mainServletName}';
		   var userLanguage = '${userLanguage}';
		   var userStyleVariant = '${styleVariant}';
		   var currentLayout = '${layout}'; 
		   var pageId = '${pageId}';
		 //--></script>
		
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-1.3.2.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-ui/ui/ui.datepicker-1.5.3.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-ui/ui/ui.core.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-ui/ui/ui.tabs.js"></script>
		#if(${userLanguage} != 'en')<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-ui/ui/i18n/ui.datepicker-${userLanguage}-1.5.3.js"></script>#end
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-block-ui-1.32.js"></script>		
		<script type="text/javascript" src="${homepageUrl}/style/common/js/nyromodal/jquery.nyroModal-1.5.5.js"></script> 
				<script type="text/javascript" src="${homepageUrl}/style/common/js/nyromodal/dlibra-nyromodal-1.5.5.js"></script>		
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-sizes-0.34.js"></script>		
		<script type="text/javascript" src="${homepageUrl}/style/common/js/simplesearch/simplesearch.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/dlibra/js/dlibra.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/autocomplete/jquery-autocomplete-1.0.2.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-ajax-queue-1.0.js"></script>		
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-bgiframe-2.1.1.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-tooltip/jquery-tooltip-1.3.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-tooltip/jquery-tooltip-dlibra-1.3.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/treeview/jquery-treeview-1.4.js"></script>
		<script type="text/javascript" src="${homepageUrl}/style/common/js/jquery-ui/ui/jquery-ui-1.7.3.custom.min.js"></script>
		<!--[if lte IE 6]>
	 	 <script type="text/javascript" src="${homepageUrl}/style/common/js/supersleight/supersleight-1.0.js"></script>
		<![endif]-->		
		#alternativeFormats()
        <link rel="search"  type="application/opensearchdescription+xml" href="${homepageUrl}/${res.getProperty("base.library.acronym")}_${userLanguage}.xml"  title="Search" />
		#foreach( $comp in $headerTags)	 
			$!{comp.RenderedTemplate} 
		#end
</head>
<body>