<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="handler.id">mediaplayer</entry>
<entry key="handled.mime.types">video/x-msvideo, video/x-ms-wmv</entry>
<entry key="handles.secured">false</entry>
<entry key="handles.normal">true</entry>
</properties>