
h2.puc_componentTitle {
	color:#555;
}

h2.puc_stepTitle {
	color:#555;
	font-size:13px;
}

h2.puc_componentTitle span{
	color:#2683CF
}

#puc_uploadForm{
	width:438px;
	margin-left:auto;
	margin-right:auto;
}

#puc_uploadForm_cont{
	background:url('up-back-in.png');
	padding-top:5px;
	padding-bottom:5px;
	margin-top:-4px;
}

p.puc_uploadFormTitle{
 	margin-left:15px;
 	margin-right:25px;
 	text-align:center;
 	color:#555F47;
}

#puc_uploadForm_cent {
	text-align:center;
	margin-top:10px;
}

#puc_uploadForm_input {
	margin-top:10px;
}

.puc_ActionStatus {
	background:#fbffd5;
	border:1px solid #ddd;
	padding:5px;
	width:228px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
}

.puc_ActionStatus p {
	color:#333;
	font-size:1.1em;
}

.puc_ActionStatus div {
	text-align:center;
}

#puc_failActionStatus{
	background:#FFBFBF;
	border:1px solid #ff0000;
}

#puc_failActionStatus p {
	color:#ff0000;
	font-size:1.1em;
}

.puc_AttrContainer {
	width:95%;
	border:1px #eee solid;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
}

#puc_MetaContainer {
	margin-top:-1px;
}

.puc_AttrContainerTitle {
	background:url('pubu-title-back.png');
	width:100%;
}

.puc_AttrContainerTitle p {
	margin-left:5px;
	padding:5px;
	font-size:1.2em;
}

.puc_meterror {
	color:#ff0000;
	font-size:0.8em;
}

#puc_filesContainer {
	width:100%;
	height:200px;
	overflow:scroll;
	margin-bottom:10px;
}

#puc_filesTable {
	line-height:0.7em;
}

#puc_relativePath {
	color:#777;
	font-style:italic;
}

#puc_asterix {
	font-size:1.0em;
	color:#ff0000;
	margin-left:2px;
}

#puc_MetaAttributesContainer {
	margin-bottom:5px;
	margin-top:10px;
}

#puc_MetaAttributesContainer select{
	margin-top:6px;
	margin-bottom:2px;
	border-style:solid;
	border-width:1px;
}

#puc_MetaAttributesContainer a{
	color:#436994;
}

#puc_MetaAttributeLabel {
	margin-bottom:1px;
	font-size:1.1em;
}

.puc_MetaAttributeLabelRequired {
	font-weight:bold;
}

#puc_MetaAttributeValue {
	margin-bottom:2px;
}

#puc_addAttributeImg {
	margin-top:5px;
}

.puc_addAttributePlus {
	font-size:1.4em;
}

#puc_PubOpsContainer {
	margin-top:10px;
	float:right;
}

p.puc_errorMsg{
	color:#ff0000;
}

div.puc_helpDiv {
 	display:none;
}

img.puc_helpIcon {
	margin-right:5px;
}

#regulations{
	height:300px;
	overflow:auto;
	border-style:solid;
	border-width:1px;
	border-color:#9F9F9F;
	margin:5px 5px 10px 0px;
	padding:10px;
}
