body { 
	padding: 0; 
	margin: 0; 
	font: 0.7em "trebuchet ms", tahoma, sans-serif;
	line-height: 1.5em;
	background: #fff; 
	color: #454545; 
}

a {	
	color: #9e1009;
	background: inherit; 
	text-decoration:none
}

a:hover { 
	color: #e31009;  
	background: inherit; 
	text-decoration:underline;
}

h3 {
	margin: 0px;
	color: #999999;
	background: transparent url('popup-header.png') repeat-x;
}

.content_box h3 { 
	color: #000;
	background: #fff;
}

.content_box { 
	margin-top: 10px;
}


#login_div {
  width: 480px;
  margin: 4px auto;
}

#login_div img {
  float:left;
  margin-top: 5px;
  margin-right:10px;
  margin-left: 10px;
}

.login_div_actions  {
	margin-top: 8px;	
	margin-left: 5px;
	color:red;
}

.login_div_actions a {
	margin-left: 5px;
	color:red;
}

.niceList {
    margin-left:20px;
}

.niceList li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.niceList a { 
	color: #436994;  
}
