@font-face {
    font-family: SanukWebPro-Medium;
    src: url("../webfonts/SanukWebPro-Medium.eot");
}
@font-face {
    font-family: SanukWebPro-Light;
    src: url("../webfonts/SanukWebPro-Light.eot");
}
@font-face {
    font-family: SanukScWebPro-Medium;
    src: url("../webfonts/SanukScWebPro-Medium.eot");
}
@font-face {
    font-family: SanukScWebPro-Light;
    src: url("../webfonts/SanukScWebPro-Light.eot");
}
@font-face {
    font-family: SanukWebPro-Medium;
    src: url("../webfonts/SanukWebPro-Medium.woff") format("woff");
}
@font-face {
    font-family: SanukWebPro-Light;
    src: url("../webfonts/SanukWebPro-Light.woff") format("woff");
}
@font-face {
    font-family: SanukScWebPro-Medium;
    src: url("../webfonts/SanukScWebPro-Medium.woff") format("woff");
}
@font-face {
    font-family: SanukScWebPro-Light;
    src: url("../ekontakt-updated-theme/webfonts/SanukScWebPro-Light.woff") format("woff");
}

body {
	padding: 0; 
	margin: 0;
	font-size: 10pt;
	font-family: Arial,Tahoma,sans-serif;
	line-height: 1.5em;
	color: #003767; 
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

.capitalize {
	text-transform: capitalize !important;
}

h1, h2, h3, h4, h5, h6, #news-theme-content div.greylabel, .asset-abstract .asset-title, .news-theme-content .asset-title, .espeo-search-portlet .search-result-title a, .publication-table div.publication-title a {
  font-family: SanukWebPro-Medium,Arial,Georgia,"Times New Roman",serif;
}

.right h3, .search_field h3 , .right_splitted h3{
	background: #fff;
	color: #003767;
	padding: 7px 0 5px 5px;
	font: bold 1.9em SanukWebPro-Medium, Arial,Georgia,"Times New Roman",serif;
	margin: 0 0 1px 0;
	margin-top:20px;
}

/*
.right_splitted h3 {
	background: #fff;
	color: #003767;
	padding: 7px 0 7px 5px;
	font: bold 1.9em SanukWebPro-Medium, Arial,Georgia,"Times New Roman",serif;
	margin: 0 0 0 ;
}*/

.ic_infoLabel {
	text-align:center;
}

#errorComoponent {
	width:500px;
	margin:0 auto;
	background:#ffefa4;
	padding:5px 10px 5px 10px;
	border:1px solid #ccc;
}

#errorComponentIcon {
	float:right;
	margin-left:5px;
}

#authRegisterItem {
	float:left;
}

#authOrItem {
	float:left;
	margin-right:8px;
	padding:5px 7px 5px 7px;
	font-size:1.2em;
}

#authLoginLinkItem {
	float:left;
	margin-right:5px;
}

#accountLink {
	float:left;
	margin-right:5px;
}

#logoutListItem {
	float:left;
	margin-right:5px;
	padding:5px 7px 5px 7px;
}

.authorizationLinksList {
	float:right;
	margin-top:-4px;
}

.bottom_icon{
	margin-bottom:2px;
	margin-right:5px;
}

.RecommendedComponent_mini{
	border:1px solid #ccc;
	box-shadow:2px 2px 2px #ddd;
	border-radius:3px;
	margin:0 auto;
	padding:5px;
	width:166px;
	height:166px;
}

#recSlideshow {
	width:166px;
	height:166px;
}

#account-menu-loading {
	color:#fff;
	text-align:center;
}

#account-menu {
	width:160px;
/*	background:transparent url('login-buttons.png') scroll -4px -107px;*/
	padding:10px;
	font-size:0.8em;
        background-color: #3E7BBA;
}

#account-menu img {
	margin-bottom:-2px;
	margin-right:3px;
}

#account-menu span {
/*	background:transparent url('login-buttons.png') scroll -4px -280px; */
	width:175px;
	height:20px;
	margin-bottom:-30px;
	margin-left:-10px;
        background-color: #3E7BBA;
	display:block;
}

#account-menu a{
	color:#fff !important;
}

#account-menu a:hover {
	text-decoration: underline;
}

#listMainMenu {
	width:960px;
	margin:0 auto;
	color:#fff;
	margin-left: 0;
}

.mmlEmpty {
	float:left;
	padding:12px;
	margin-top:-9px;
}

.mmlEmptyRight {
	border-right:0;
}

#mainBaner {
	width:100%;
	height:70px;
	margin-top: 1%;
	margin-bottom:0px;	
}

#mainBanerLeft {
	background:url('main-menu-back-left.png') no-repeat;
	float:left;
	height:90px;
	width:150px;
}

#mainBanerUniversityLogo {
	display: inline-block;
}

#mainBanerCoin {
	display: inline-block;
	height: 59px;
}

#mainBanerLibraryTitle {
	border-left: 1px solid #003865;
	padding-left: 25px;
	margin: 0 0 0 20px;
	position: relative;
	display: inline-block;
	height: 62px;
	vertical-align: top;
}

.main-library-title {
	font-family: SanukWebPro-Medium, Arial, Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 1.1em;
	display: block;
	margin-top: 2px;
	height: 44px;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none /* if link */
}

#mainBanerLanguages {
	float:right;	
}

.site-faculty-logo {
  position: absolute;
  right: 240px;
  top: 10px;
}

#mainBanerIn {
	height: 70px !important;
}

.contentIn {
	width:980px;
	margin:0 auto;
}

.contentIn h1 {
	float:left;
	margin-top:12px;
	*margin-top:-6px; /* IE7 hack */
	font: 25pt COMIC SANS MS;
	font-weight:800;
	text-shadow:1px 1px 1px #DAE2F5;
}

.contentIn h1 a {
	color:#96C1E9;
}

.loginLink {
	float: left;
	color: #fff !important;
	padding: 12px;
	margin-top: -12px;
}
.loginLink:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.loginLink:active {
	position:relative;
	top:1px;
}
.registerLink {
	-moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
	box-shadow: inset 0px 1px 0px 0px #F2F2F7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background: linear-gradient(to bottom, #F3F3F3 5%, #A5B3FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color: #2C5491;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #333333;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px -1px 39px #FFFFFF;
}
.registerLink:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.registerLink:active {
	position:relative;
	top:1px;
}

#mainMenu {
	background-color: #125491;
	width:100%;
	left:0px;
	margin-bottom:10px;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}

ul.mainMenuListList {
	position: relative;
}

ul.mainMenuListList li {
	list-style: none;
	display: inline;
	margin: 0;
}

ul.mainMenuListList>li {
	float: left;
	height: 30px;
	position: relative;
}

ul.mainMenuListList>li.firstMenuListListElement>a {
	padding-left: 0 !important;
}

ul.mainMenuListList li a {
	color: #fff;
	display: block;
	background-color: transparent;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

ul.mainMenuListList li a:hover {
	background-color: rgba(255,255,255,0.2);
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

ul.mainMenuListList>li a {
	display: inline-block;
	line-height: 30px;
	padding: 0 16px;
	font-size: 100%;
	letter-spacing: 0;
}

ul.mainMenuListList>li.mainMenuListList-homeIcon {
	padding: 0;
	width: 30px;
	height: 30px;
}

ul.mainMenu>li.mainMenu-homeIcon>a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  background: url("http://cdn.pg.edu.pl/ekontakt-updated-theme/images/home-icon.png") center center;
}

.mainMenuOption {
	color: #fff;
	display: block;
	background-color: transparent;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

a.mainMenuOption:hover {
	background-color: rgba(255,255,255,0.2);
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.authLinks {
  float: right;
  position: relative;
  color: #fff;
}

.authLinks>a, .authLinks>a:hover {
	font-size: .9em;
	line-height: 30px;
	display: inline-block;
	padding: 0 20px;
	background-color: #3E7BBA;
	color: #fff;
}

#searchFailureBox {
	margin-top:15px;
	text-align:center;
}

#searchFailureTitle {
	font-size:1.2em;
	font-weight:bold;
}

#searchFailureContent {
	font-size:11px;
	color:#999;
}

.noScriptWarnIcon {
	float:left;
	margin-right:5px;
	margin-bottom:10px;
}

#noScriptWarningBox {
	font-size:11px;
	background-color:#FFD86F;
	background: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.26, rgb(255,225,150)),
    	color-stop(0.68, rgb(255,217,111)),
    	color-stop(0.56, rgb(255,217,111))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	rgb(255,225,150) 26%,
    	rgb(255,217,111) 68%,
    	rgb(255,217,111) 56%
	);
	width:400px;
	bottom:5px;
	right:5px;
	height:70px;
	border:3px solid #444;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:fixed;
	-moz-box-shadow:-3px -3px 5px #999;
	-webkit-box-shadow:-3px -3px 5px #999;
	box-shadow:-3px -3px 5px #999; 
	padding:5px;
	padding-left:10px;
	
}

#src_RSSBox {
	background:#fbffd5;
	border:1px solid #ddd;
	padding:2px 5px 2px 5px;
	width:135px;
	display:none;
}

.aggregationMark {
	margin-right:3px;
}

.resultDescription, .resultKeywords, .resultAdditionalOptions {
	font-size:10px;
	color:#666 !important;
}

.resultAdditionalOptions {
	float:right;
}

.resultAggregationLink{
	color:#FF6000 !important;
}

.resultMetadataTable{
	width: 100%;
	height: 100%;
	color:#666 !important;
}

.resultNumber {
	width:35px;
}

.sh_button {
	float:right;
	margin-right:5px;
	/* IE 7 hack: invalid CSS */
	*margin-top:-20px;
}

.leftDiv {
	cursor:pointer;
}

.LatestEditionsComponent_query_cell {
	margin-bottom:5px;
}

.exlibrisContainer {
	text-align:center;
}

.exlibrisImage {
	margin-top:10px;
	width:150px;
}

.oldExlibrisImage {
	margin-top:10px;
}

#colNode_mainColl {
	font-weight:bold;
	color:#555;
	cursor:default;
}

#tagHelpIcon{
	cursor:help;
	float:right;
}

#faveText {
	margin-left:5px;
}

.justPrivateChecked {
	background:url('search/checked.png') 0 0 no-repeat;
}

.justPrivateUnchecked {
	background:url('search/unchecked.png') 0 0 no-repeat;
}

#justPrivateChecking {
	font-size:10px;
	cursor:pointer;
	padding-left:15px;
}

.cd_collDescriptionImage {
	width:125px;
	height:125px;
	border:1px solid #ccc;
	padding:5px;
	float:left;
	margin-right:10px;
}

.cdc_listOfAllContainer a{
	padding-left:10px;
	margin-left:10px;
	background:url('img/collapsed.gif') 0 5px no-repeat;	
}

.ic_indexList {
	margin-top:10px;
}

#VotesRankingData li:nth-child(odd), .LatestEditionsComponent_list li:nth-child(odd), #asynchronousPagedPart .itemlist li:nth-child(odd), .ic_indexList li:nth-child(odd){
	background-color:#eee;
} 

#VotesRankingData li, .LatestEditionsComponent_list li, #asynchronousPagedPart .itemlist li, .ic_indexList li{
	margin-bottom:5px;
	padding:5px;
}

.ic_indexList li a {
	background:url('../../common/img/icons/bullet.png') 0 0 no-repeat;
	padding-left:20px;
}

.listLine {
	height:1px;
	border:0;
	background-color:#ccc;
}

.minImg {
	width:110px;
	height:110px;
}

#simpleSearchHeader, #searchHeader {
	padding-top:10px;
}

#gfxHelp {
	margin-top: 10px;
	max-width: 100%;
	max-height: 100%;
}

.SAAC_container {
	max-height:260px;	
	overflow-x:hidden;
	overflow-y:auto;	
}

.SAAC_submit {
	background:url('search.png') no-repeat; 
	width:30px; 
	cursor:pointer;
}

.SAAC_attributeName {
	color:#444 !important;
	font-weight:bold;
}

.SAAC_avalue {
	color:#000 !important;
}

.SAAC_tokenSelector {
	color:#777 !important;
}

.SAAC_values {
	margin-top:7px;
}

#collectionsNarrowImg {
	margin-top:10px;
}

.tokenValueOptions {
	font-size:10px;
	padding:3px;
	text-align:right;
	margin-top:5px;
}

.tokenValueOptions a {
	color:#999 !important; 
}

.collectionBox .closedColl {
	background:url("img/collapsed.gif") 0 8px no-repeat;
	padding-left:10px;
}

.collectionBox .selectedColl {
	background:url("img/bullet_green.png") 0 8px no-repeat;
	padding-left:10px;
}

.collectionBox .expandedColl {
	background:url("img/expanded.gif") 0 8px no-repeat;
	padding-left:10px;
}

.collectionBox .leafColl {
	background:url("img/nochilds.gif") 0 8px no-repeat;
	padding-left:10px;
}

.collImg {
	margin-top:3px;
	cursor:pointer; 
}
 
.collectionsInSearch {
	max-height:250px;
	overflow-y:auto;
	overflow-x:hidden;		
}

.collectionsInSearch .closedColl {
	background:none;
	padding-left:5px;
}

.collectionsInSearch .selectedColl {
	background:none;
	padding-left:5px;
}

.collectionsInSearch .expandedColl {
	background:none;
	padding-left:5px;
}

.collectionsInSearch .leafColl {
	background:none;
	padding-left:5px;
}

.colSelected {
	font-weight:bold;
}

.colUnselected {
	font-weight:normal;
}

.colUnselected, .colSelected, a.colUnselected:hover, a.colSelected:hover {
	background-image:none;
}

.collectionBox {
	line-height:200%;
}

.collectionSeparator{
	border-bottom: 1px solid #BBBBBB;
	margin:10px 0;
}

#loginReminder{
	display:none;
	font-size:13px;
	background-color:#fbffd5;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	padding:2px;
	border:1px solid #E4EF86;
	
}

#loginReminder a {
	font-weight:bold;
}

#web2Tools {
	width:100%;
	height:51px;
	position:fixed;
	bottom:0;
	left:0;
	background: url("w2tools-background.png") top left repeat-x;
	z-index:4000;
}

#w2toggler {
	width:100%;
	height:10px;
	position:relative;
	top:0px;
	left:0;
	z-index:4000;
	cursor:pointer;
}

.w2togglerOff {
	background:url("w2off.gif") transparent center top no-repeat;
}

.w2togglerOn {
	background:url("w2on.gif") transparent center top no-repeat;
}

.src_didYouMean {
	margin-top:10px;
}

.src_asyncPart{
	width:100%;
	float:left;
}

.src_noSearchResults{
	text-align:center;
	margin-top /**/:50px;
	font-size:1.1em;
}

.src_ellipsis {
	margin-left:3px;
}

a.src_selectablePage {
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:0.1em 0.5em 0.1em 0.5em;
	margin-left:1px;
	margin-right:2px;
	text-align:center;
	background-color:#ededed;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
			
}

.src_nextPage {
	margin-left:3px;
}

a:hover.src_selectablePage {
	border:1px solid #FFB98F;
	padding:0.1em 0.5em;
	margin-left:1px;
	margin-right:2px;
	text-align:center;
	text-decoration:none;
}

.src_selectedPage {
	padding:0.2em 0.6em 0.2em 0.6em;
	margin-left:1px;
	margin-right:1px;
	text-align:center;
	background-color:#fff;
	border:1px solid #fff;
}

.componentBorder {
   border-top:1px solid #999;
   border-width:1px 0 0 0;
   height:1px;
   margin-top:15px;
}

p.componentTitle{
	padding: 7px 0 7px 5px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin:0px;
}

.plannedpubs_list li{
	margin-top:10px;
}

.plist_even {
	background-color:#eee;
	padding:5px;
}

.plist_odd {
	padding:5px;
}

.ssc_attributes_selection {
	margin-top:9px;
	margin-right:5px;
}

.alph_odd {
	background:#fff;
	padding:1px;
	padding-left:2px;
	padding-right:2px;
}

.alph_even {
	background:#eee;
	padding:1px;
	padding-left:2px;
	padding-right:2px;	
}

.SimpleSearchComponentPanel {
	clear: both;
	padding: 0;
	background-image: none;
}

.SimpleSearchComponentQuery  #query {
	width: 550px; 
	border: 1px solid #aaa;
	padding: 3px; 
	color: #0e0e0e;
	font-weight: bold;
	vertical-align:top;
	margin-top: 8px;
	border:3px solid #125491;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:1px 1px 1px #ddd;
	-moz-box-shadow:1px 1px 1px #ddd;
	-webkit-box-shadow:1px 1px 1px #ddd;
}

.SimpleSearchComponentQuery  #search, .AdvancedSearchComponent  #advSubmit{
	border: 0;
	padding: 3px 0;
	width: 65px;
	margin: 8px 0 0 0;
	color: #FFF;
	font: bold 1.1em Arial, Sans-Serif;
	vertical-align:top;  
	height: 28px;
	color:#fff;
	background:none;
	background-color: #125491;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:1px 1px 1px #ccc;
	-webkit-box-shadow:1px 1px 1px #ccc;
	box-shadow:1px 1px 1px #ccc;
	cursor:pointer;
}
