.tgWarningHidden{
	color: #fff;
	
}
.tgWarningVisible{
	color : #ff0000;
}

#dynacloud
{
	overflow:hidden;
}
.dynacloud{
	visibility:hidden;
	position:absolute;
	top:-250px;
	left:-250px;
	overflow:hidden;
	width:150px;
	height:150px;
}

a.tagLink{
	font-family:verdana;
	text-decoration: none;
	line-height: 100%
}
a.tagLink:link{
	color: #0091dc;
	
}
a.tagLink:visited{
	color: #0091dc;
	
}

a.tagLink:hover{
	color: #26b5ff;
	text-decoration: underline;
	
}

a.tagLink:active{
	color: #0091dc;
}